<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Doraneko</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.fb.com/tranphuquy19" target="_blank">Contact Me (fb)</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Make Color</button>
      </form>
    </div>
  </nav>
  <div class="container mt-2 ml-0 mr-0">
    <div class="col-12"><h2>List Files</h2></div>
    <div class="col-12 align-content-between">
        <div class="modal fade" id="confirmDownload" tabindex="-1" role="dialog" aria-labelledby="confirmDownloadTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDownloadTitle">Confirm Download</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <video controls class="player" id="player1" height="100%" width="100%" loop poster="/images/dora-bell.jpg"
                preload="none" src="" style="max-width: 100%" tabindex="0" title="MediaElement">
              </video>
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="" id="downloadBtn" role="button">Download</a>
            </div>
          </div>
        </div>
      </div>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>No.</th>
                <th>File Name</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <%
                  var count = 0;
                  var sizeFile = 0;
                  files.forEach(function(file){ %>
              <tr>
                <%if(file.type){  count++;%>
                <td>
                  <%= count %>
                </td>
                <td>
                  <div class="row">
                    <span>
  
                      <i class="fas fa-folder-open mr-2"></i>
                      <a href="/browser/?p=<%= encodeURIComponent(file.path) %>"
                        id="postPath"><%= file.name %></a>
  
                    </span>
                  </div>
                </td>
                <td>
                  <%=file.size %>
                </td>
                <% } %>
              </tr>
              <% }); %>
              <% files.forEach(function(file){ %>
              <tr>
                <%if(!file.type){  count++ %>
                <td>
                  <%= count%>
                </td>
                <td>
                  <div class="row">
                    <span>
  
                      <i class="far fa-file"></i>
                      <a data-href="/download?p=<%= encodeURI(file.path) %>&o=download"
                        class="flinks"><%= file.name %></a>
  
                    </span>
                  </div>
  
                </td>
                <td>
                  <%=file.size %>
                </td>
                <% }%>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script>
      $('.flinks').click(function () {
        var _links = $(this).data('href');
        $('#downloadBtn').attr('href', _links);
        if (_links.includes('.mp4') || _links.includes('.flv') || _links.includes('.avi') || _links.includes('.webm')) {
          $('#player1').attr('src', _links);
        }
        else {
          $('.modal-body').empty();
          var addToBody = document.createElement('p');
          addToBody.class = 'text-muted';
          addToBody.innerHTML = 'Bạn có muốn Download file: <b>' + $(this).text() + '</b> không ?'
          $('.modal-body').append(addToBody);
          $('video').hide();
        }
        $('#confirmDownload').modal('show');
      });
      $('.flinks').hover(function () {
        $(this).css('cursor', 'pointer');
      });
      $('#confirmDownload').on('hidden.bs.modal', function (e) {
        $('#player1').get(0).pause();
      })
    </script>
</body>

</html>